<div class="hello">
  <h1 class=title >たんぱく図鑑</h1>
  <p class="subtitle">〜自分が食べたもののタンパク質量を記録しよう〜</p>
  <div class="enter">
    <a class="URL"><%= link_to "新規登録", new_account_registration_path, class: 'btn btn-sm btn-secondary' %></a>
    <a class="URL"><%= link_to "ログイン", new_account_session_path, class: 'btn btn-sm btn-secondary' %></a>
    <a class="guest"><%= link_to 'ゲストログイン（閲覧用）', accounts_guest_sign_in_path, method: :post, class: 'btn btn-sm btn-secondary' %></a>
  </div>
</div>