// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hello{
  text-align: center;
}

.title {
  font-family: "Hiragino Maru Gothic Pro", sans-serif;
  padding-top: 110px;
  font-size: 70px;
  color: #fdbf64;
}

.subtitle {
  margin: 40px 0 40px;
  font-size: 25px;
  color: #fecf8d;
}

.enter {
  text-align: center;
}

a {
  margin: 0 6px;
}