h1{
  margin-top: 20px;
}

h2{
  margin-left: 10px;
  font-size: 20px;
}

.application-name{
  font-family: "Hiragino Maru Gothic Pro", sans-serif;
  color: #fdbf64;
  margin: 10px;
}

a{
  color: gray;
}

.warnings{
  margin-left: 15px;
  color: gray;
}

.error{
  color: red;
  margin: 15px 0px 15px 30px;
}

.render{
  margin-left: 22px;
}

.table{
  float: left;
  width:  75%;
}

.category{
  margin-right: 15px;
  padding: 10px 40px;
  border:dashed 2px #b3ada4;
  float: right;
  width: 20%;
  text-align: center;
}

.sub-title{
  font-family: "Hiragino Maru Gothic Pro", sans-serif;
  font-size: 25px;
  border-bottom: 3px solid #00a5dd;
}

@media screen and (max-width: 640px){
  .table,
  .table td content,
  .table th {
    border: 1px solid #cbced2;
    border-collapse: collapse;
    text-align: center;
    font-size: 11px;
    width: 100%;
  }

  .table th {
    display: none;
  }

  .food {
    background-color: #e9c15b;
    font-weight: bolder;
  }

  .memo,
  .category {
    display: none;
  }
}

